doctype html
html(lang='en')
  head
    title Books
  body
    h1 #{book.bookName} card
    form(action='/book/' + book.bookName + '?_method=PUT' method='post')
      div
        label(for='name') Name
        input#name(type='text', name='name', value=book.bookName , required='')
      div
        label(for='author') Author
        input#email(type='text', name='author', value=book.bookAuthor, required='')
      div
        label(for='genre') Genre
        input#genre(type='text', name='genre', value=book.bookGenre, required='')
      div
      - var status = book.isInLibrary
      #book
        if status == 'Yes'
            label(for='In Library') In Library
            label(for='Yes') Yes
            input#inLibrary(type='radio', name='inLibrary', value='Yes', checked)
            label(for='No') No
            input#inLibrary(type='radio', name='inLibrary', value='No')
        else
            label(for='In Library') In Library
            label(for='Yes') Yes
            input#inLibrary(type='radio', name='inLibrary', value='Yes')
            label(for='No') No
            input#inLibrary(type='radio', name='inLibrary', value='No', checked)
      div
        label(for='Given To') Give To
        select#users(name='users')
          option(value='noone')
          each user in users
            option(value=user.name) #{user.name}
      div
        label(for='returnDate') Return to
        input#returnDate(type="date", name='returnDate')
      button(type='submit') Update information
    a(href='/') Go back